@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using CaptchaMvc.HtmlHelpers;



@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <link rel="stylesheet" type="text/css" href="~/Template/css/login-util.css">
    <link rel="stylesheet" type="text/css" href="~/Template/css/login-main.css">

    <div class="container-login100" style="background-image: url('../../Template/images/bg-01.jpg');" onLoad="ChangeCaptcha()">

        <div class="wrap-login100 p-l-55 p-r-55 p-t-80 p-b-30">

            <form class="login100-form validate-form">
                <span class="login100-form-title p-b-37">
                    @Resources.Resources.SignIn
                </span>

                <span style="font-size:medium;color:gray">@Resources.Resources.Username</span>
                <div class="wrap-input100 m-b-20">

                    @Html.TextBox("username", null, new { @class = "input100" })
                    <span class="focus-input100"></span>
                </div>

                <span style="font-size:medium;color:gray">@Resources.Resources.Password</span>
                <div class="wrap-input100 m-b-25">

                    @Html.Password("password", null, new { @class = "input100" })
                    <span class="focus-input100"></span>
                </div>



                <span>&nbsp;</span>
                <div class="wrap-input100">
                    @if (ViewBag.ShowCaptcha == 1)
                    {

                        @Html.Captcha(5)

                        <br />
                        <span class="focus-input100"></span>
                        <span class="focus-input100"></span>
                        <span class="focus-input100"></span>
                    }
                </div>




                <div>
                    @if (ViewBag.error != null)
                    {
                        <label style="font-size:15px;color:black;border-bottom:double;border-color:red">@ViewBag.error</label>
                    }
                </div>


                <div class="container-login100-form-btn">
                    <button class="login100-form-btn">
                        @Resources.Resources.SignIn
                    </button>
                </div>


                <div class="text-center">
                    <a href="../Home/ForgetPassword" class="txt2 hov1">
                        @Resources.Resources.ForgetPassword
                    </a>
                </div>

                <div class="text-center">
                    <a href="../Home/Register" class="txt2 hov1">
                        @Resources.Resources.SignUp
                    </a>
                </div>

                <div class="text-center">
                    OR
                </div>
                <div class="text-center">
                    <a href="javascript:void(0);" class="txt2 hov1" onclick="history.go(-1);">go back to previous page</a>
                </div>



            </form>


        </div>
    </div>
    <script src="~/Template/js/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Template/js/login-main.js"></script>
}