@{            
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using CaptchaMvc.HtmlHelpers;



@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()



    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="~/Front/images/icons/favicon.ico" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Front/vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Front/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Front/fonts/iconic/css/material-design-iconic-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Front/vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Front/vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Front/vendor/animsition/css/animsition.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Front/vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Front/vendor/daterangepicker/daterangepicker.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Front/css/util.css">
    <link rel="stylesheet" type="text/css" href="~/Front/css/main.css">
    <!--===============================================================================================-->

 

    <div class="container-login100" style="background-image: url('../../Front/images/bg-01.jpg');" onLoad="ChangeCaptcha()">

        <div class="wrap-login100 p-l-55 p-r-55 p-t-80 p-b-30">

            <form class="login100-form validate-form">
                <span class="login100-form-title p-b-37">
                    Sign In
                </span>

                <span style="font-size:medium;color:gray">Username</span>
                <div class="wrap-input100 m-b-20">

                    @Html.TextBox("username", null, new { @class = "input100" })
                    <span class="focus-input100"></span>
                </div>

                <span style="font-size:medium;color:gray">Password</span>
                <div class="wrap-input100 m-b-25">

                    @Html.Password("password", null, new { @class = "input100" })
                    <span class="focus-input100"></span>
                </div>



                <span>&nbsp;</span>
                <div class="wrap-input100">
                    @if (ViewBag.ShowCaptcha == 1)
                    {

                        @Html.Captcha(5)

                        <br />
                        <span class="focus-input100"></span>
                        <span class="focus-input100"></span>
                        <span class="focus-input100"></span>
                    }
                </div>




                <div>
                    @if (ViewBag.error != null)
                    {
                        <label style="font-size:15px;color:black;border-bottom:double;border-color:red">@ViewBag.error</label>
                    }
                </div>


                <div class="container-login100-form-btn">
                    <button class="login100-form-btn">
                        Sign In
                    </button>
                </div>


                <div class="text-center">
                    <a href="../Home/ForgetPassword" class="txt2 hov1">
                        Forget Password
                    </a>
                </div>

                <div class="text-center">
                    <a href="../Home/Register" class="txt2 hov1">
                        Sign Up
                    </a>
                </div>

                <div class="text-center">
                   OR
                </div>
                <div class="text-center">
                    <a href="javascript:void(0);" class="txt2 hov1" onclick="history.go(-1);">go back to previous page</a>
                </div>



            </form>


        </div>
    </div>




    <!--===============================================================================================-->
    <script src="~/Front/vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Front/vendor/animsition/js/animsition.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Front/vendor/bootstrap/js/popper.js"></script>
    <script src="~/Front/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Front/vendor/select2/select2.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Front/vendor/daterangepicker/moment.min.js"></script>
    <script src="~/Front/vendor/daterangepicker/daterangepicker.js"></script>
    <!--===============================================================================================-->
    <script src="~/Front/vendor/countdowntime/countdowntime.js"></script>
    <!--===============================================================================================-->
    <script src="~/Front/js/main.js"></script>



}