@model IEnumerable<DataAccessLayer.Order>
@{
    ViewBag.Title = "Monitor";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



@{
    var user = Session["User"] as DataAccessLayer.User;
}

@{
    // will be edited after adding dll
    var db = new BusinessLayer.DBManager();
    List<DataAccessLayer.Stock> stocks = db.GetStocks();
    var stock = new DataAccessLayer.Stock();
    stock.ID = 0;
    stock.CompanyEN = "all";
    stock.CompanyAR = "الكل";
    stocks.Insert(0, stock);

    List<DataAccessLayer.User> users = db.GetUsersList();
    var temp = new DataAccessLayer.User();
    temp.ID = 0;
    users.Insert(0, temp);
}


<div class="container">

@using (Html.BeginForm("Monitor", "Home"))
{

    <div class="col-md-4 animate-box fadeInUp animated-fast" style="background-color:#41444B;padding:20px;margin-bottom:20px">
        <h3 class="section-title whitelabel">@Resources.Resources.Monitor</h3>
        <div>
            @if(user.Admin)
            {
                <label> @Resources.Resources.UserID </label> <br />
                <div class="form-group">
                    @Html.DropDownList("userID",
                                            users.Select(item => new SelectListItem
                                            {
                                                Value = item.ID.ToString(),
                                                Text = item.ID == 0?(System.Threading.Thread.CurrentThread.CurrentCulture.Name == "en"?"all":"الكل"):item.Username,
                                            }),
                                            null,
                                            new { @class = "form-control" })
                </div>
            }
            else
            {
                @Html.Hidden("userID", user.ID);
            }
        </div>
            
            <div>
                <label> @Resources.Resources.From </label> <br />
                <div class="form-group date">                    
                     <input type="date" name="startDate">
                </div>
            </div>
            <div>
                <label> @Resources.Resources.To </label> <br />
                <div class="form-group">                    
                    <input type="date" name="endDate">
                </div>
            </div>
            <div>
                <label>@Resources.Resources.Stock</label> <br />
                <div class="form-group">
                    @Html.DropDownList("stockID",
                                        stocks.Select(item => new SelectListItem
                                        {
                                            Value = item.ID.ToString(),
                                            Text = System.Threading.Thread.CurrentThread.CurrentCulture.Name == "en"? item.CompanyEN:item.CompanyAR,
                                        }),
                                        null,
                                        new { @class = "form-control" })
                </div>
            </div>

            <div>




                <br />


                <button type="submit" id="btn-submit" class="btn btn-send-message btn-md button">
                    @Resources.Resources.Filter
                </button>

            </div>

            </div>
}
</div>

<table class="table">
    <tr>
        <th>
            @Resources.Resources.Username
        </th>
        <th>
            @Resources.Resources.Stock
        </th>
        <th>
            @Resources.Resources.Quantity
        </th>
        <th>
            @Resources.Resources.Date
        </th>
        <th>
            @Resources.Resources.StockPrice
        </th>
        <th>
            @Resources.Resources.TransactionType
        </th>
        <th>
            @Resources.Resources.State
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.User.Username)
    </td>
    @if (System.Threading.Thread.CurrentThread.CurrentCulture.Name == "en")
    {
        <td>
            @Html.DisplayFor(modelItem => item.Stock.CompanyEN)
        </td>
    }
    else
    {
        <td>
            @Html.DisplayFor(modelItem => item.Stock.CompanyAR)
        </td>
    }
    <td>
        @Html.DisplayFor(modelItem => item.Quantity)
    </td>
    <td>
        @item.Date.Day/@item.Date.Month/@item.Date.Year
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Price)
    </td>
    @if (System.Threading.Thread.CurrentThread.CurrentCulture.Name == "en")
    {
        <td>
            @Html.DisplayFor(modelItem => item.TypeEN)
        </td>
    }
    else
    {
        <td>
            @Html.DisplayFor(modelItem => item.TypeAR)
        </td>
    }
    @if (System.Threading.Thread.CurrentThread.CurrentCulture.Name == "en")
    {
        <td>
            @Html.DisplayFor(modelItem => item.StateEN)
        </td>
    }
    else
    {
        <td>
            @Html.DisplayFor(modelItem => item.StateAR)
        </td>
    }

    <td>
        <a href="javascript:void(0);" class="anchorDetail" data-id="@item.ID" data-url="/Home/OrderDetails">@Resources.Resources.Details</a>

    </td>

</tr>
    }

</table>

<div id='myModal' class='modal fade'>
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="myModalLabel">@Resources.Resources.Details</h4>
            </div>
            <div id='myModalContent'></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">@Resources.Resources.Close</button>
            </div>
        </div>
    </div>
</div>