@model IEnumerable<UTW_Project.Models.Order>
@{
    ViewBag.Title = "Monitor";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



@{
    bool enableID = false;
    var user = Session["User"] as UTW_Project.Models.User;
    enableID = user.Admin;
}

@{
    // will be edited after adding dll
    var db = new UTW_Project.Classes.DBManager();
    List<UTW_Project.Models.Stock> stocks = db.GetStocks();
    var stock = new UTW_Project.Models.Stock();
    stock.ID = 0;
    stock.CompanyEN = "all";
    stock.CompanyAR = "الكل";
    stocks.Add(stock);
}



@using (Html.BeginForm("Monitor", "Home"))
{

    <div class="col-md-4 animate-box fadeInUp animated-fast" style="background-color:#41444B;padding:20px;margin-bottom:20px">
        <h3 class="section-title whitelabel">@Resources.Resources.Monitor</h3>
        <div>
            <label> @Resources.Resources.UserID </label> <br />
            @{
                string read = "readonly";
                if (user.Admin) { read = "false"; }

            }
            <div class="form-group">
                @Html.TextBox("userID", user.ID, new { @class = "form-control", @readonly = read })
            </div>
        </div>
            
            <div>
                <label> @Resources.Resources.From </label> <br />
                <div class="form-group">
                     <input type="date" name="startDate" value="1-1-1850">
                </div>
            </div>
            <div>
                <label> @Resources.Resources.To </label> <br />
                <input type="date" name="endDate" value="@DateTime.Now">
            </div>
            <div>
                <label>@Resources.Resources.Stock</label> <br />
                <div class="form-group">
                    @Html.DropDownList("stockID",
                                        stocks.Select(item => new SelectListItem
                                        {
                                            Value = item.ID.ToString(),
                                            Text = System.Threading.Thread.CurrentThread.CurrentCulture.Name == "en"? item.CompanyEN:item.CompanyAR,
                                        }),
                                        null,
                                        new { @class = "form-control" })
                </div>
            </div>

            <div>




                <br />


                <button type="submit" id="btn-submit" class="btn btn-send-message btn-md button">
                    @Resources.Resources.Filter
                </button>

            </div>

            </div>
}

<table class="table">
    <tr>
        <th>
            @Resources.Resources.Username
        </th>
        <th>
            @Resources.Resources.Stock
        </th>
        <th>
            @Resources.Resources.Quantity
        </th>
        <th>
            @Resources.Resources.Date
        </th>
        <th>
            @Resources.Resources.StockPrice
        </th>
        <th>
            @Resources.Resources.TransactionType
        </th>
        <th>
            @Resources.Resources.State
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.User.Username)
    </td>
    @if (System.Threading.Thread.CurrentThread.CurrentCulture.Name == "en")
    {
        <td>
            @Html.DisplayFor(modelItem => item.Stock.CompanyEN)
        </td>
    }
    else
    {
        <td>
            @Html.DisplayFor(modelItem => item.Stock.CompanyAR)
        </td>
    }
    <td>
        @Html.DisplayFor(modelItem => item.Quantity)
    </td>
    <td>
        @item.Date.Day/@item.Date.Month/@item.Date.Year
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Price)
    </td>
    @if (System.Threading.Thread.CurrentThread.CurrentCulture.Name == "en")
    {
        <td>
            @Html.DisplayFor(modelItem => item.TypeEN)
        </td>
    }
    else
    {
        <td>
            @Html.DisplayFor(modelItem => item.TypeAR)
        </td>
    }
    @if (System.Threading.Thread.CurrentThread.CurrentCulture.Name == "en")
    {
        <td>
            @Html.DisplayFor(modelItem => item.StateEN)
        </td>
    }
    else
    {
        <td>
            @Html.DisplayFor(modelItem => item.StateAR)
        </td>
    }



</tr>
    }

</table>
