@model IEnumerable<UTW_Project.Models.Order>

@{
    ViewBag.Title = "Order";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{

    var user = Session["User"] as UTW_Project.Models.User;
    string Name = user.Username;

}

@{
    // will be edited after adding dll
    var db = new UTW_Project.Classes.DBManager();
    List<UTW_Project.Models.Stock> stocks = db.GetStocks();
}

@{
    List<string> TType = new List<string>();
    TType.Add("Buy");
    TType.Add("Sell");
}

@*<label>@user.Wallet.ToString("0.00")</label>*@
@using (Html.BeginForm("Order", "Home"))
{

    <div class="col-md-4 animate-box fadeInUp animated-fast" style="background-color:#41444B;padding:20px;margin-bottom:20px">
        <h3 class="section-title whitelabel">@Resources.Resources.Order</h3>
        <div>
            <label> @Resources.Resources.Username </label> <br />

            <div class="form-group">
                @Html.TextBox("username", Name, new { @class = "form-control", @readonly = "readonly" })
            </div>
        </div>


        <div>
            <label>@Resources.Resources.Stock</label> <br />
            <div class="form-group">
                @Html.DropDownList("stockID",
                                    stocks.Select(item => new SelectListItem
                                    {
                                        Value = item.ID.ToString(),
                                        Text = System.Threading.Thread.CurrentThread.CurrentCulture.Name == "en" ? item.CompanyEN : item.CompanyAR,
                                    }),
                                    null,
                                    new { @class = "form-control" })
            </div>
        </div>

        <div>
            <label>@Resources.Resources.TransactionType</label> <br />
            <div class="form-group">
                @Html.DropDownList("type",
                                    TType.Select(item => new SelectListItem
                                    {
                                        Value = item,
                                        Text = System.Threading.Thread.CurrentThread.CurrentCulture.Name == "en" ? item : (item == "Buy" ? "شراء" : "بيع"),
                                    }),
                                    null,
                                    new { @class = "form-control" })
            </div>
        </div>

        <div>
            <label>@Resources.Resources.Quantity</label> <br />
            <div class="form-group">
                @Html.TextBox("quantity", 0, new { @class = "form-control" })
            </div>
        </div>

        <div>
            <br />
            <button type="submit" id="btn-submit" class="btn btn-send-message btn-md button">
                @Resources.Resources.Order
            </button>
        </div>
        <div>
            @ViewBag.error
            @ViewBag.Message
        </div>

    </div>

}


@using (Html.BeginForm("Order", "Home"))
{
    <div class="col-md-4 animate-box fadeInUp animated-fast" style="background-color:#41444B;padding:20px;margin-bottom:20px">
        <h3 class="section-title whitelabel">@Resources.Resources.SearchByID</h3>
        <div>
            <label>
                @Resources.Resources.OrderID
            </label>
            <div class="form-group">
                @Html.TextBox("orderID", 0, new { @class = "form-control" })
            </div>
            <button type="submit" id="btn-submit" class="btn btn-send-message btn-md button">
                @Resources.Resources.Search
            </button>
        </div>
    </div>


}
<table class="table">
    <tr>
        <th>
            @Resources.Resources.OrderID
        </th>
        <th>
            @Resources.Resources.Username
        </th>
        <th>
            @Resources.Resources.Stock
        </th>
        <th>
            @Resources.Resources.Quantity
        </th>
        <th>
            @Resources.Resources.Date
        </th>
        <th>
            @Resources.Resources.StockPrice
        </th>
        <th>
            @Resources.Resources.TransactionType
        </th>
        <th>
            @Resources.Resources.State
        </th>
        <th>

        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.Username)
            </td>
            @if (System.Threading.Thread.CurrentThread.CurrentCulture.Name == "en")
            {
                <td>
                    @Html.DisplayFor(modelItem => item.Stock.CompanyEN)
                </td>
            }
            else
            {
                <td>
                    @Html.DisplayFor(modelItem => item.Stock.CompanyAR)
                </td>
            }
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @item.Date.Day/@item.Date.Month/@item.Date.Year
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            @if (System.Threading.Thread.CurrentThread.CurrentCulture.Name == "en")
            {
                <td>
                    @Html.DisplayFor(modelItem => item.TypeEN)
                </td>
            }
            else
            {
                <td>
                    @Html.DisplayFor(modelItem => item.TypeAR)
                </td>
            }
            @if (System.Threading.Thread.CurrentThread.CurrentCulture.Name == "en")
            {
                <td>
                    @Html.DisplayFor(modelItem => item.StateEN)
                </td>
            }
            else
            {
                <td>
                    @Html.DisplayFor(modelItem => item.StateAR)
                </td>
            }
            <td>
                @Html.ActionLink(Resources.Resources.Edit, "UpdateOrder", "Home", new { id = item.ID }, null)
            </td>


        </tr>
    }

</table>
