@model UTW_Project.Models.User

@{
    ViewBag.Title = "ResetPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <head>        
        <link rel="stylesheet" type="text/css" href="~/Template/css/register-util.css">
        <link rel="stylesheet" type="text/css" href="~/Template/css/register-main.css">
    </head>

    if (Model.URL.Expired)
    {
        <label style="font-size:15px;color:black;border-bottom:double;border-color:red">@Resources.Resources.ExpiredUrl</label>
        return;
    }

    <div class="limiter">
        <div class="container-login100">
            <div class="login100-more" style="background-image: url('../../FrontRegister/images/bg-01.jpg');"></div>

            <div class="wrap-login100 p-l-50 p-r-50 p-t-72 p-b-50">
                <form class="login100-form validate-form">
                    <span class="login100-form-title p-b-59">
                        @Resources.Resources.ResetPassword
                    </span>

                    <div>
                        @if (ViewBag.error != null)
                        {
                            <label style="font-size:15px;color:black;border-bottom:double;border-color:red">@ViewBag.error</label>
                        }
                    </div>
                    <!--Qustions-->
                    <div class="wrap-input100 m-b-20">
                        @Html.DisplayFor(model => model.Question.QuestionEN)
                        <span class="focus-input100"></span>
                    </div>


                    <div class="wrap-input100">
                        <span class="label-input100">@Resources.Resources.Answer</span><br /><br />
                        @Html.TextBox("answer", "", new { htmlAttributes = new { @class = "input100" } })
                        @Html.ValidationMessageFor(model => model.Answer, "", new { @class = "text-danger" })
                        <span class="focus-input100"></span>


                    </div>


                    <div class="wrap-input100">
                        <span class="label-input100">@Resources.Resources.NewPassword</span><br /><br />
                        @Html.TextBox("newPassword", "", new { htmlAttributes = new { @class = "input100" } })
                        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                        <span class="focus-input100"></span>


                    </div>

                    <div class="container-login100-form-btn">
                        <div class="wrap-login100-form-btn">
                            <div class="login100-form-bgbtn"></div>
                            <button class="login100-form-btn">
                                @Resources.Resources.Reset
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
}