@model IEnumerable<UTW_Project.Models.User>

@{
    ViewBag.Title = "Users";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




@using (Html.BeginForm("Users", "Home", FormMethod.Post))
{

<div>

    <div class="col-md-4 animate-box fadeInUp animated-fast" style="background-color:#41444B;padding:20px;margin-bottom:20px">
        <h3 class="section-title whitelabel">Search</h3>

        <div class="form-group">
           

            @Html.DropDownList("selectedMethod", new SelectList(new List<string>() { "Default sorting", "Sort by Email", "Sort by Username", "Sort by Status(active or blocked)" },

                        "Default sorting")
                       , new { @class = "form-control" })


        </div>





        <div class="form-group">
           
            @Html.TextBox("filterValue", "", new { @class = "form-control" })
        </div>

        @if (ViewBag.error != null)
        {
            <label style="font-size:15px;color:black;border-bottom:double;border-color:red">@ViewBag.error</label><br />

        }


        
        <div class="form-group">
            <input type="submit" id="btn-submit" class="btn btn-send-message btn-md button" value="Filter">
        </div>


    </div>


</div>



    <div class="limiter">
        <div class="container-table100">
            <div>
                <table class="table">
                    <tr class="row header btn-dark">

                        <th class="cell">
                            @Html.DisplayNameFor(model => model.Email)
                        </th>
                        <th class="cell">
                            @Html.DisplayNameFor(model => model.FirstNameEN)
                        </th>
                        <th class="cell">
                            @Html.DisplayNameFor(model => model.LastNameEN)
                        </th>
                        <th class="cell">
                            @Html.DisplayNameFor(model => model.FirstNameAR)
                        </th>
                        <th class="cell">
                            @Html.DisplayNameFor(model => model.LastNameAR)
                        </th>

                        <th class="cell">
                            @Html.DisplayNameFor(model => model.Blocked)
                        </th>


                    </tr>

                    @foreach (var item in Model)
                    {
                        <tr class="row">

                            <td class="cell">
                                @Html.DisplayFor(modelItem => item.Email)
                            </td>
                            <td class="cell">
                                @Html.DisplayFor(modelItem => item.FirstNameEN)
                            </td>
                            <td class="cell">
                                @Html.DisplayFor(modelItem => item.LastNameEN)
                            </td>
                            <td class="cell">
                                @Html.DisplayFor(modelItem => item.FirstNameAR)
                            </td>
                            <td class="cell">
                                @Html.DisplayFor(modelItem => item.LastNameAR)
                            </td>
                            <td class="cell">
                                @if (item.Blocked == true)
                                {
                                    @Html.DisplayName("Yes")
                                }
                                else
                                {
                                    @Html.DisplayName("No")
                                }

                            </td>
                            @if (item !=null && item.Blocked == true)
                            {
                                <td class="cell">
                                    @Html.ActionLink("Activate", "Activate", new { username = item.Username })
                                </td>
                            }
                        </tr>
                    }

                </table>
            </div>
        </div>
    </div>

}