@model IEnumerable<UTW_Project.Models.User>

@{
    ViewBag.Title = "Users";
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}


@using (Html.BeginForm("Users", "Admin", FormMethod.Post))
{

<div>

 

    <div class="wrap-input100">
        <span class="label-input100">Sort by</span>
        @Html.DropDownList("selectedMethod", new SelectList(new List<string>() { "Default sorting", "Sort by Email", "Sort by Username", "Sort by Status(active or blocked)" },

                    "Default sorting")
                   , new { @class = "input100" })

        <span class="focus-input100"></span>
    </div>

   

    <div class="wrap-input100">
        <span class="label-input100">Value</span>

        @Html.TextBox("filterValue", "", new { @class = "input100" })
        <span class="focus-input100"></span>

    </div>

    @if (ViewBag.error != null)
    {
        <label style="font-size:15px;color:black;border-bottom:double;border-color:red">@ViewBag.error</label><br />

    }


    <input type="submit" value="Filter" id="btnSubmit" />



</div>



    <div class="limiter">
        <div class="container-table100">
            <div>
                <table class="table">
                    <tr class="row header btn-dark">

                        <th class="cell">
                            @Html.DisplayNameFor(model => model.Email)
                        </th>
                        <th class="cell">
                            @Html.DisplayNameFor(model => model.FirstNameEN)
                        </th>
                        <th class="cell">
                            @Html.DisplayNameFor(model => model.LastNameEN)
                        </th>
                        <th class="cell">
                            @Html.DisplayNameFor(model => model.FirstNameAR)
                        </th>
                        <th class="cell">
                            @Html.DisplayNameFor(model => model.LastNameAR)
                        </th>

                        <th class="cell">
                            @Html.DisplayNameFor(model => model.Blocked)
                        </th>


                    </tr>

                    @foreach (var item in Model)
                    {
                        <tr class="row">

                            <td class="cell">
                                @Html.DisplayFor(modelItem => item.Email)
                            </td>
                            <td class="cell">
                                @Html.DisplayFor(modelItem => item.FirstNameEN)
                            </td>
                            <td class="cell">
                                @Html.DisplayFor(modelItem => item.LastNameEN)
                            </td>
                            <td class="cell">
                                @Html.DisplayFor(modelItem => item.FirstNameAR)
                            </td>
                            <td class="cell">
                                @Html.DisplayFor(modelItem => item.LastNameAR)
                            </td>
                            <td class="cell">
                                @Html.DisplayFor(modelItem => item.Blocked)
                            </td>
                            @if (item !=null && item.Blocked == true)
                            {
                                <td class="cell">
                                    @Html.ActionLink("Activate", "Activate", new { username = item.Username })
                                </td>
                            }
                        </tr>
                    }

                </table>
            </div>
        </div>
    </div>

}