@model IEnumerable<UTW_Project.Models.User>

@{
    ViewBag.Title = "Users";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div>
        
        <form class="woocommerce-ordering" method="get">
            <select name="orderby" class="orderby" aria-label="Shop order">
                <option value="menu_order" selected="selected">Default sorting</option>
                <option value="popularity">Sort by Status</option>
                <option value="rating">Sort by Email</option>
                <option value="date">Sort by Username</option>
            </select>
            <input type="hidden" name="paged" value="1">
        </form>
 

        <aside id="search-2" class="widget widget_search">
            <form role="search" method="get" class="search-form form-inline" action="https://colorlib.com/unite/">
                <label class="sr-only">Search for:</label>
                <div class="input-group">
                    <input type="search" value="" name="s" class="search-field form-control" placeholder="filter..">
                    <span class="input-group-btn">
                        <button type="submit" class="search-submit btn btn-primary"><span class="glyphicon glyphicon-search"></span></button>
                    </span>
                </div>
            </form>
        </aside>




    </div>



    <div class="limiter">
        <div class="container-table100">
            <div>
                <table class="table">
                    <tr class="row header btn-dark">
                        <th class="cell">
                            @Html.DisplayNameFor(model => model.Username)
                        </th>
                        <th class="cell">
                            @Html.DisplayNameFor(model => model.Email)
                        </th>
                        <th class="cell">
                            @Html.DisplayNameFor(model => model.FirstNameEN)
                        </th>
                        <th class="cell">
                            @Html.DisplayNameFor(model => model.LastNameEN)
                        </th>
                        <th class="cell">
                            @Html.DisplayNameFor(model => model.FirstNameAR)
                        </th>
                        <th class="cell">
                            @Html.DisplayNameFor(model => model.LastNameAR)
                        </th>
                        <th class="cell">
                            @Html.DisplayNameFor(model => model.Phone)
                        </th>
                        <th class="cell">
                            @Html.DisplayNameFor(model => model.EmailConfirmed)
                        </th>
                        <th class="cell">
                            @Html.DisplayNameFor(model => model.Wallet)
                        </th>
                        <th class="cell">
                            @Html.DisplayNameFor(model => model.Blocked)
                        </th>
                        <th class="cell">
                            @Html.DisplayNameFor(model => model.LoginTrials)
                        </th>
                        <th class="cell">
                            @Html.DisplayNameFor(model => model.Question.QuestionEN)
                        </th>
                        <th></th>
                    </tr>

                    @foreach (var item in Model)
                    {
                        <tr class="row">
                            <td class="cell">
                                @Html.DisplayFor(modelItem => item.Username)
                            </td>
                            <td class="cell">
                                @Html.DisplayFor(modelItem => item.Email)
                            </td>
                            <td class="cell">
                                @Html.DisplayFor(modelItem => item.FirstNameEN)
                            </td>
                            <td class="cell">
                                @Html.DisplayFor(modelItem => item.LastNameEN)
                            </td>
                            <td class="cell">
                                @Html.DisplayFor(modelItem => item.FirstNameAR)
                            </td>
                            <td class="cell">
                                @Html.DisplayFor(modelItem => item.LastNameAR)
                            </td>
                            <td class="cell">
                                @Html.DisplayFor(modelItem => item.Phone)
                            </td>
                            <td class="cell">
                                @Html.DisplayFor(modelItem => item.EmailConfirmed)
                            </td>
                            <td class="cell">
                                @Html.DisplayFor(modelItem => item.Wallet)
                            </td>
                            <td class="cell">
                                @Html.DisplayFor(modelItem => item.Blocked)
                            </td>
                            <td class="cell">
                                @Html.DisplayFor(modelItem => item.LoginTrials)
                            </td>
                            <td class="cell">
                                @Html.DisplayFor(modelItem => item.Question.QuestionEN)
                            </td>

                            @if (item.Blocked == true)
                            {
                             <td class="cell">
                                @Html.ActionLink("Activate", "Activate", new { username = item.Username })
                             </td>
                            }
                        </tr>
                    }

                </table>
            </div>
        </div>
    </div>