@model UTW_Project.Models.User

@{
    ViewBag.Title = "ResetPassword";
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <head>
        <!--REGISTER===============================================================================================-->
        <link rel="icon" type="image/png" href="~/FrontRegister/images/icons/favicon.ico" />
        <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="~/FrontRegister/vendor/bootstrap/css/bootstrap.min.css">
        <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="~/FrontRegister/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
        <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="~/FrontRegister/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
        <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="~/FrontRegister/fonts/iconic/css/material-design-iconic-font.min.css">
        <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="~/FrontRegister/vendor/animate/animate.css">
        <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="~/FrontRegister/vendor/css-hamburgers/hamburgers.min.css">
        <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="~/FrontRegister/vendor/animsition/css/animsition.min.css">
        <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="~/FrontRegister/vendor/select2/select2.min.css">
        <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="~/FrontRegister/vendor/daterangepicker/daterangepicker.css">
        <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="~/FrontRegister/css/util.css">
        <link rel="stylesheet" type="text/css" href="~/FrontRegister/css/main.css">
    </head>


    <div class="limiter">
        <div class="container-login100">
            <div class="login100-more" style="background-image: url('../../FrontRegister/images/bg-01.jpg');"></div>

            <div class="wrap-login100 p-l-50 p-r-50 p-t-72 p-b-50">
                <form class="login100-form validate-form">
                    <span class="login100-form-title p-b-59">
                        Reset Password
                    </span>

                    <div>
                        @if (ViewBag.error != null)
                        {
                            <label style="font-size:15px;color:black;border-bottom:double;border-color:red">@ViewBag.error</label>
                        }
                    </div>
                    <!--Qustions-->
                    <div class="wrap-input100 m-b-20">
                        @Html.DisplayFor(model => model.Question.QuestionEN)
                        <span class="focus-input100"></span>
                    </div>


                    <div class="wrap-input100">
                        <span class="label-input100">Answer</span><br /><br />
                        @Html.TextBox("answer", "", new { htmlAttributes = new { @class = "input100" } })
                        @Html.ValidationMessageFor(model => model.Answer, "", new { @class = "text-danger" })
                        <span class="focus-input100"></span>


                    </div>


                    <div class="wrap-input100">
                        <span class="label-input100">New Password</span><br /><br />
                        @Html.TextBox("newPassword", "", new { htmlAttributes = new { @class = "input100" } })
                        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                        <span class="focus-input100"></span>


                    </div>

                    <div class="container-login100-form-btn">
                        <div class="wrap-login100-form-btn">
                            <div class="login100-form-bgbtn"></div>
                            <button class="login100-form-btn">
                                Reset
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
}